 <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/app/pelicula">Crear Pelicula</a>
                <a class="navbar-brand" href="/app/peliculas">Peliculas</a>
                <a class="navbar-brand" href="/app/serie">Crear Serie</a>
                <a class="navbar-brand" href="/app/series">Series</a>
                <a class="navbar-brand" href="/app/Tvshow">Crear Tvshow</a>
                <a class="navbar-brand" href="/app/Tvshows">Tvshows</a>
                <a class="btn btn-primary" href="#signup">{{nombre}}</a>
            </div>
        </nav>